.menu {
  padding: 0.5rem;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: #fff;
}

.link::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: #111;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  z-index: -1;
}

.link:hover,
.link:focus {
  width: 130px;
}

.link:hover::before,
.link:focus::before {
  transform: translateX(0);
}

.link:hover .link-title,
.link:focus .link-title {
  transform: translateX(0);
  opacity: 1;
}

.link-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 18px;
}

.link-icon svg {
  width: 28px;
  height: 28px;
  stroke: white;
}

.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in, opacity 0.2s;
  opacity: 0;
  text-indent: 28px;
  width: 100%;
  text-align: center;
  color: #fff;
}
