.youtube-logo::after,
[class^="external-"]::after,
[class*=" external-"]::after {
  display: inline-block;
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight:600 !important;
  font-variant: normal;

  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    content: "\f1c5";
}