.youtube-logo {
  position: relative;
  background-color: #ff0000;
  width: 180px;
  height: 108px;
  border-radius: 30px / 90px;
}

.youtube-logo:before {
  content: "";
  position: absolute;
  background-color: #ff0000;
  z-index: -1;
  width: 159px;
  height: 121px;
  border-radius: 90px / 11px;
  left: 10px;
  bottom: -7px;
}

.youtube-logo:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 24px 0 24px 45px;
  border-color: transparent transparent transparent #fff;
  left: 74px;
  bottom: 30px;
}
