.costum-bg-pattern {
  background: radial-gradient(
    circle at left center,
    rgba(16, 185, 129, 0.1), /* weniger stark */
    rgba(16, 185, 129, 0.02) 70%,
    transparent 100%
  );
}

@media (prefers-color-scheme: dark) {
  .costum-bg-pattern {
    background: radial-gradient(
      circle at left center,
      rgba(16, 185, 129, 0.1),
      rgba(16, 185, 129, 0.05) 70%,
      transparent 100%
    );
  }
}
